:root {
   --color-primary: #d71b3b;
   --color-secondary: #3D52A0;
   --color-headings:#d71b3b;
   --color-body: #9a99ac;
   --color-body-darker: #918ca4;
   --color-accent: #ff2a00;
   --color-secondary-text: #12ABA5;
   --color-border: #ccc; 
   --border-radius: 30px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

*,
*::after, 
*::before {
    box-sizing: border-box;
}

/* Typography */

::selection {
    background: var(--color-primary);
    color: #ccc;
}

html{
    /*Initialy is 16px: 16px X 62.5% = 10px there 1rem equivalent to 10px*/
     /*since 1rem means 1x(font size of the html element)*/
    font-size: 62.5%;
}

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
    background-color: #EDE8F5;
}